.homepage_pd {
    padding-top: 0;
	background-color: #fff;
}
body {
    padding-top: 63px;
	background-color:#e5e5e5;
}
.btn:hover, .btn:focus {
	box-shadow:none;
	-webkit-box-shadow:none;
	-ms-box-shadow:none;
	-o-box-shadow:none;
	outline:none
}
.abt_Section {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
	background-image:url(../../img/images/desktop/about-section.jpg);
}
.thm_style .c-header-home_controls .o-button.sqr-btn {
	border-radius: 0;
	-webkit-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}
.thm_style .c-header-home_controls .o-button.sqr-btn + .o-button.sqr-btn {
	margin-left:0;
}
.thm_style .c-header-home_buttons .o-button.btn_links {
    box-shadow: none;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	-ms-box-shadow: none;
}
.thm_style .c-header-home_buttons .o-button.btn_links .o-button_label {
    font-weight:300;
}
.fixHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
}
.pg_header {
    background-color: #000000;
    padding-top: 8px;
    padding-bottom: 8px;
	height: 63px;
}
.main_Nav_wrap {
    margin: auto;
    border: none;
    border-radius: 0;
	-webkit-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
    min-height: inherit;
}
.desk-nav .nav {
    float: right;
}
.desk-nav .navbar-nav > li > a {
    padding: 0 2px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
	background-color:transparent;
}
.desk-nav .nav {
	margin-top:15px;
}
.desk-nav .nav > li + li {
    margin-left: 30px;
}
.desk-nav .search_wrap {
    position: relative;
    top: 0;
    right: inherit;
    padding-left: 35px;
    float: left;
}
.desk-nav .search_wrap:before {
	content:"";
	position:absolute;
	left:0;
	top:-6px;
	width:1px;
	height:30px;
	background-color:#fff;
}
.search_wrap .search_form {
    width: 250px;
}
.search_wrap .search_form_wrp {
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
    top: 29px;
    right: -7px;
}
.main_Nav_wrap .site_logo .logo_site {
    margin-left: 0 !important;
    padding: 0;
}
.main_Nav_wrap .logo_site {
	background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
	background-image:url(../../img/images/desktop/newEra-logo.png);
	width:89px;
	height:47px;
	font-size:0;
}
.headFix {
    padding-top: 63px;
}
.abt_contWrap {
    max-width: 550px;
    float: right;
}
.abt_contWrap .abt_sec p {
    color: #0c0c18;
}
.head_Sz {
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0c0c18;
}
.head_Sz .brd {
    border-bottom: 1px solid;
    padding-bottom: 1px;
    display: inline-block;
}
.secHead {
    margin-bottom: 28px;
}
.cstomBtn {
    color: #585e5c;
    font-size: 15px;
    border: 1px solid #c0a062;
    border-radius: 0;
    padding: 10px 30px;
}
.cstomBtn:hover, .cstomBtn:focus {
	background-color:#c0a062;
	color:#fff;
}
.sec-bgGray {
    background-color: #d1d7e0;
}
.gallerySecWrap {
	background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
	background-image:url(../../img/images/desktop/gallery-sec-bg.jpg);
}
.project_cont.desk_prj_cont {
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
}
.project_cont.desk_prj_cont .proj_no {
    font-size: 16px;
}
.project_cont.desk_prj_cont .proj_head {
    font-size: 12px;
    line-height: 13px;
    margin: 12px auto 30px;
    max-height: 70px;
    min-height: 70px;
}
.project_cont.desk_prj_cont  .proj_img {
    height: 165px;
    margin-bottom: 30px;
    max-width: 165px;
}
.desk_prj_cont .share_read .read_more {
    font-size: 10px;
    height: 35px;
    line-height: 14px;
    padding-top: 6px;
    line-height: 10px;
    width: 35px;
	margin-top:-3px;
}
.desk_prj_cont  .share_read .share_icon {
    max-width: 23px;
}
.proj_secOuter .all_links {
    margin-top: 2.5%;
}
.glrNav .owl-nav .owl-prev {
    left: -20px;
}
.glrNav .owl-nav .owl-next {
    right: -20px;
}
.proj_secOuter .all_links .btn {
    font-weight: 500;
    padding: 3px 12px;
}
.clientSlider-wrap .clnt_img {
    max-width: 155px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.full-client_sec {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1%;
}
.cont_secMiddle .contact_wrp {
    max-width: 800px;
    padding: 0;
}
.cont_secMiddle {
    margin-top: 6%;
}
.cont_secMiddle .cont_Form h4 {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    margin-bottom: 3%;
    font-weight: 500;
}
.cont_Form.contDesk .form-group {
    margin-bottom: 2%;
}
.cont_Form.contDesk .mrg_tp {
    margin-top: 4%;
}
.cont_Form.contDesk textarea.form-control {
    max-width: 100%;
    min-height: 140px;
}
.contact_wrp.footerDesk {
    max-width: 100%;
}
.footerDesk .address_sec .addrs {
    margin-bottom: 6px;
}
.footerDesk .cont_Info > li {
    display: inline-block;
    position: relative;
	vertical-align:top;
}
.footerDesk .cont_Info > li + li {
    margin-left: 15px;
    padding-left: 15px;
}
.footerDesk .cont_Info > li + li:before {
    content: "";
    width: 1px;
    height: 16px;
    top: 3px;
    left: -4px;
    background-color: #343434;
    position: absolute;
}
.clientSlider-wrap {
    max-width: 900px;
    width: 100%;
	margin-left:auto;
	margin-right:auto;
}
.full-client_sec .secHead .head_Sz {
    font-size: 30px;
}
.full-client_sec .secHead {
	margin-bottom:4%;
}
.footer_add_wrp {
    background-color: #e5e5e5;
	position:relative;
}


/* Products Accordian */

/*.prod_slider-wrap .accordion, 
.prod_slider-wrap .acc_list > li, 
.accordion .acc_list .acc_secWRAP {
	  height:500px;
}*/
.prod_slider-wrap .accordion {
  width:100%;
  max-width:100%;
  overflow:hidden;
  margin:50px auto;
}
.prod_slider-wrap .acc_list {
    width:100%;
    display:table;
    table-layout:fixed;
    margin:0;
    padding:0;
}

.prod_slider-wrap .acc_list > li {
      display:table-cell;
      vertical-align:bottom;
      position: relative;
      width:16.666%; /* 6 into 100 */
      background-repeat:no-repeat;
      background-position:left top;
	  background-size: cover;

      transition:all 500ms ease;
	  -webkit-transition:all 500ms ease;
	  -ms-transition:all 500ms ease;
	  -o-transition:all 500ms ease;
	  -webkit-filter: grayscale(100%);
       filter: gray;  
}

.accordion .acc_list .acc_inner {
        display:block;
        overflow:hidden;
        width:100%;
}

.accordion .acc_list .acc_secWRAP {
          display:block;
          width:100%;
          position:relative;
          z-index:3;
          vertical-align:bottom;
          padding:15px 20px;
          box-sizing:border-box;
          color:#fff;
          text-decoration:none;
          
          transition:all 200ms ease;
		  -webkit-transition:all 200ms ease;
		  -ms-transition:all 200ms ease;
		  -o-transition:all 200ms ease;
}

.accordion .acc_list .acc_inner {
            opacity:0;
            margin:0;
            width:100%;
            text-overflow:ellipsis;
            position:relative;
            z-index:5;
            white-space:nowrap;
            overflow:hidden;
			
            -webkit-transform:translateX(-20px);
			-ms-transform:translateX(-20px);
			-o-transform:translateX(-20px);
            transform:translateX(-20px);

            -webkit-transition:all 400ms ease;
			-ms-transition:all 400ms ease;
			-o-transition:all 400ms ease;
            transition:all 400ms ease;
}

.prod_slider-wrap .accordion .acc_list:hover > li { width:8%; }

.prod_slider-wrap .accordion .acc_list:hover > li:hover {
	width:60%;
	-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
	filter: grayscale(0%);
}
/*.prod_slider-wrap .acc_secWRAP {
        background:rgba(0,0,0,.4);
}*/
.prod_slider-wrap .acc_secWRAP:after {
	content:"";
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:50%;
	z-index:0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
        
.prod_slider-wrap .accordion .acc_list > li:hover .acc_inner {   
          opacity:1;
          -webkit-transform:translateX(0);
		  -ms-transform:translateX(0);
		  -0-transform:translateX(0);
          transform:translateX(0);
}

.accordion .prodText-wrp {
    position: absolute;
    bottom: 0;
	left:0;
	width:100%;
	z-index:1;
    padding: 0 25px 20px 25px;
}
.prodText-wrp .textCont {
    display: table;
    width: 100%;
}
.prodText-wrp .textCont .text-cont, .prodText-wrp .textCont .link-col {
    display: table-cell;
    vertical-align: top;
}
.prodText-wrp .textCont .link-col {
    padding-left:30px;
	width:160px;
	text-align:right;
}
.prodText-wrp .textCont .text-cont {
    font-size: 18px;
	text-align:left;
}
.acc_inner .cstomBtn {
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 15px;
    font-size: 14px;
}
.acc_inner .cstomBtn:hover, .acc_inner .cstomBtn:focus {
    background-color:transparent;
}
.prod_slider-wrap .acc_list > li + li {
    border-left: 2px solid #d0d7e1;
}
      


/* End Products Accordian */

.innerPg_pd {
    padding-top: 3%;
    padding-bottom: 2%;
    font-size: 19px;
    font-weight: 300;
}
.head_Sz .brd.brd_ylw {
    border-color: #f3d69d;
}
.black_bg {
	background-color:#101125;
	color:#fff;
}
.black_bg .head_Sz {
	color:#fff;
}
.about_pgWrap {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
	background-image:url(../../img/images/desktop/about_pg_bg.jpg);
    background-color: #17203b;
}
.abt_text p {
    margin-bottom: 28px;
}
.textLn_hgt {
	line-height: 30px;
}
.desk_brands_Outer {
    margin-top: 60px;
}
.desk_brands_Outer .head_Sz {
    margin-bottom: 20px;
}
.brands_list_sec > li {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    position: relative;
    font-size: 0;
    text-align: center;
    margin-left: -1px;
    margin-right: -1px;
}
.brands_list_sec .brd_sec {
    margin-top: 15px;
    margin-bottom: 15px;
}
.pg_Heading {
    margin-bottom: 30px;
}

/* Product Listing */
.prod_list_Sec .text_tbl {
    display: table;
    width: 100%;
}
.text_tbl .text_cont {
    padding-right:22px;
}
.text_tbl .text_cont, .text_tbl .btn_link {
    display: table-cell;
	vertical-align:top;
}
.text_tbl .btn_link {
	width:120px;
}
.prod_list_Sec .img_wrp {
    width: 100%;
    margin-bottom: 20px;
}
.prod_list_Sec .img_wrp >img {
    width: 100%;
    height:auto;
}
.prod_list_Sec .btn {
    font-size: 13px;
    padding: 2px 9px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
.prod_list_Sec .prd_Name {
    font-size: 22px;
    line-height: 26px;
}
.hd_wth_brd {
    position: relative;
	padding-bottom:12px;
}
.hd_wth_brd:after {
	content:"";
	position:absolute;
	left:0;
	bottom:0;
	height:2px;
	width:110px;
	background-color:#fff;
}
.prod_list_Sec {
    margin-bottom: 40px;
}
.listing_2Col > [class^="col-"]:nth-child(2n+1) {
    clear: both;
}
.produt_Lst_wrap {
    position: relative;
	padding-bottom:20px;
}
.acroll_down {
    position: fixed;
    width: 26px;
    height: auto;
    bottom: 15px;
    margin-left: -13px;
    left: 50%;
}
/* End Product Listing */
/* Product Details */
.detailsPg_pd {
    padding-top: 0;
    background-color: #fff;
} 
.prod_detailTop {
    padding-top: 3%;
    padding-bottom: 4%;
}
.detail_sec_head {
    font-size: 28px;
    margin-bottom: 20px;
    position: relative;
    padding-left: 15px;
}
.detail_sec_head:before {
    content:"";
	position:absolute;
	left:0;
	top: 8px;
	height:26px;
	width:2px;
	background-color:#fff;
}
.pro_details_top .detail_img {
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.7);
	-ms-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.7);
	-o-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.7);
}
.pro_details_top .detail_img > img {
	width:100%;
}
.pro_details_top .detail_text_sec {
    color: #d7d7d7;
    line-height: 30px;
    letter-spacing: 0.6px;
}
.head_Sz.mdl_Sz {
    font-size: 25px;
    font-weight: 500;
}
.proj_offrOuter_desk {
    padding-top: 2.5%;
    padding-bottom: 7px;
}
.offer_deskWrp .projOffer_sec .proj_infoWrp .textCont {
    width: 55%;
	line-height:30px;
}
.offer_deskWrp .projOffer_sec .proj_infoWrp .prjOfr_Image {
    width: 45%;
	text-align:center;
	padding-top:2px;
}
.prjOfr_Image img {
    max-width: 255px;
    width: 100%;
}
.offer_deskWrp .color_patch_wrp {
    text-align: center;
    margin-top: 20px;
}
.offer_deskWrp .color_patch_wrp > li {
    max-width: 87px;
}
.offer_deskWrp .color_patch_wrp .clr_ptch {
	text-align:left;
}
.offer_deskWrp .clr_ptch .clr_img {
    max-width: 80px; 
    max-height: 80px; 
}
.offer_deskWrp .clr_ptch .clr_name {
    font-size: 11px;
	margin-top:5px;
}
.proj_offrOuter_desk .showMoreP .btn {
    font-size: 18px;
    padding: 6px 25px;
}
.offer_deskWrp .exp_coll {
	padding-right: 10px;
	
}
.offer_deskWrp .exp_coll span {
    position: absolute;
	right:0;
	top: 2px;
    width: 6px;
    font-size: 0;
    height: 13px;
    background-repeat: no-repeat;
	background-image:url(../../img/images/desktop/exp-col-arrow.png);
	background-position:center top;
}
.offer_deskWrp .exp_coll .close_col {
	background-position: center bottom;
}
/* End Product Details */
/* Gallery */
.deskFilter .fltDropd > .dropdown-menu {
    max-width: 100%;
    min-width: 700px;
    color: #111125;
	margin-top:5px;
}
.deskFilter .filter_act_wrp {
    border-top: 1px solid #e5e5e5;
}
.deskFilter .filter_act_wrp > .col-sep + .col-sep {
    border-left: 1px solid #e5e5e5;
}
.deskFilter .btn.flt_actBtn {
    font-size: 15px;
}
.filter_col_outer {
    display: table;
    width: 100%;
}
.filter_col_outer > .filter_col {
    display: table-cell;
    width: 33.33%;
}
.filter_col_outer > .filter_col + .filter_col {
    border-left: 1px solid rgba(0,0,0,0.2);
}

.flt_sec_cont .flt_head {
    background-color: #ba9753;
    text-align: center;
    color: #0a0a16;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    padding: 8px 10px;
    z-index: 1;
    margin-left: -1px;
    margin-right: -1px;
}
.flt_sec_cont .filter_subCat .ct_link {
    padding: 6px 8px;
    text-align: center;
	color: #111125;
}
.flt_sec_cont .filter_subCat .ct_link.active {
	color:#fff;
}
.flt_sec_cont .filter_subCat > li {
    background-color: #e5e5e5;
}
.flt_sec_cont .filter_subCat > li:nth-child(2n) {
    background-color: #fff;
}
.flt_sec_cont .filter_subCat > li + li {
    margin-top: 0;
}
.flt_body.cstScrollbar {
    max-height: 252px;
    overflow: hidden;
}
.flt_body.cstScrollbar .mCSB_inside>.mCSB_container {
    margin-right: 0px;
}
.flt_body.cstScrollbar .mCSB_scrollTools {
    width: 4px;
}
.deskFilter .btn.btn-filter {
    font-size: 19px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0px 0px;
    border: none;
}
.deskFilter .btn.btn-filter > img {
    position: relative;
    margin-top: -3px;
    margin-left: 5px;
}
ul.galleryCols {
    margin: 0 -5px 0px -5px;
    list-style: none;
    font-size: 0;
    padding: 0;
    text-align: left;
}
.galleryCols > li {
    display: inline-block;
    width: 16.66%;
    padding-left: 5px;
    padding-right: 5px;
	vertical-align: top;
}
.gallerySec_Desk .glr_Img {
    border: 1px solid #fff;
	margin-bottom:10px;
	overflow: hidden;
	border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
}
.glr_Img img {
    width: 100%;
    height: auto;
}
.gallery_outer .filter_wrap {
    display: block;
}
.deskFilter .fltDropd {
    margin-top: -52px;
}
.deskGalleryModal.galleryModal {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
	margin-bottom:0;
	text-align: center;
}
.deskGalleryModal.galleryModal .modal-content {
	display: inline-block;
}
.deskGalleryModal.galleryModal .projInfo {
	text-align:left;
}
body .modal-backdrop.in {
    opacity: .5;
}
.deskGalleryModal .glrImage > img {
    width: auto;
    display: inline-block;
}
.gallery_pgnt {
    margin-top: 9px;
    margin-bottom: 10px;
}

.gallery_pgnt > li > .page-link {
    border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
	-o-border-radius: 0 !important;
    margin-left: 2.5px;
    margin-right: 2.5px;
    border: none;
    padding: 0px 6px;
    color: #000000;
    background-color: #acacac;
}
.gallery_pgnt > li > .page-link:hover, .gallery_pgnt > li > .page-link:focus {
	background-color: #cfcfcf;
	color: #000000;

}
.gallery_pgnt > li > .page-link.prev, .gallery_pgnt > li > .page-link.next {
    background-color: transparent !important;
    color: rgba(255,255,255,0.7);
	font-size:24px;
	line-height:15px;
}
.gallery_pgnt > li > .page-link.prev {
	padding-left:1px;
	padding-right:3px;
}
.gallery_pgnt > li > .page-link.next {
	padding-right:1px;
	padding-left:3px;
}
.grid.grd_gallery {
	margin-left:-5px;
	margin-right:-5px;
}
.grd_gallery > .grid-item {
	width:16.66%;
	padding-left:5px;
	padding-right:5px;
}
.grd_gallery.col4grid > .grid-item {
	width:25%;
}

/*--- Desktop Version */
.grid.grd_gallery {
   height: 100% !important;
   display: flex;
   flex-wrap: wrap;
}
.grd_gallery > .grid-item {
   position: relative !important;
   top: inherit !important;
   left: inherit !important;
   height: 250px !important;
   margin-bottom: 10px;
}
.gallerySec_Desk .glr_Img {
   height: 250px;
}
.glr_Img img {
   height: 100%;
}

/* End Gallery */


/******************************************
               Responsive
******************************************/

@media (min-width: 768px) {
.deskGalleryModal.galleryModal {
	width: 760px;
}
}

@media (min-width: 1400px) {
.container-full {
	padding-left:7.5rem;
	padding-right:7.5rem;
	width:100%;
}
}
@media (max-width: 991px) {
.desk-nav .nav > li + li {
    margin-left: 20px;
}
.prod_list_Sec .prd_Name {
    font-size: 20px;
    line-height: 24px;
}
}
@media (max-width: 1399px) {
.project_cont.desk_prj_cont {
    padding-top: 30px;
    padding-bottom: 10px;
}
.project_cont.desk_prj_cont .proj_head {
	margin-bottom:10px;
}
.project_cont.desk_prj_cont .proj_img {
    margin-bottom: 20px;
}
.proj_secOuter .all_links {
    margin-top: 1.5%;
}
.cont_secMiddle {
    margin-top: 1%;
}
.full-client_sec .secHead {
    margin-bottom: 2%;
}
}
@media (max-width: 1280px) {
.head_Sz, .full-client_sec .secHead .head_Sz {
    font-size: 27px;
}
.proj_secOuter .all_links .btn {
    font-size: 14px;
}
}

.desk-nav .nav > li > ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 240px;
    background-color: #000;
    list-style: none;
    padding: 10px 15px;
    left: -40px;
    top: 42px;
    transition: all 0.3s ease-in-out;
}
.desk-nav .nav > li:hover > ul {
    opacity: 1;
    visibility: visible;
}
.desk-nav .nav > li > ul li {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.desk-nav .nav > li > ul li a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 0 !important;
    display: block;
}
.desk-nav .nav > li > ul li:hover a { 
    text-decoration: none;
}
